<div>
  <h1>{{name}}</h1>
  <p>{{description}}</p>
</div>
<hr />
<br />
<div>
  {{#with history}}
    <li>{{year}}</li>
    <li>{{founder}}</li>
  {{/with}}
</div>
<hr />
<br />
<div>
  {{#each types}}
    <li><a>{{this}}</a></li>
  {{/each}}
</div>
<hr />

<div>
  <h3>Sintax</h3>
  {{#with syntax}}
    <ul>
      <b>Virables:</b>
      {{#each variables}}
        <li><a>{{this}}</a></li>
      {{/each}}
      <br />
      <b>Functions:</b>
      {{#each functions}}
        <li><a>{{this}}</a></li>
      {{/each}}
      <br />
      <b>Conditionals:</b>
      {{#each conditionals}}
        <li><a>{{this}}</a></li>
      {{/each}}
      <br />
      <b>Loops:</b>
      {{#each loops}}
        <li><a>{{this}}</a></li>
      {{/each}}
      <br />
      <b>Classes:</b>
      {{#each classes}}
        <li><a>{{this}}</a></li>
      {{/each}}
    </ul>
  {{/with}}
</div>
<hr />
<br />
<div>
  <b>Features:</b>
  {{#each features}}
    <li>{{this}}</li>
  {{/each}}
</div>
<hr />
<div>
  <b>Libraries</b>
  {{#each libraries}}
    <li>{{this}}</li>
  {{/each}}
</div>
<hr />
<div>
  <b>Tools:</b>
  {{#each tools}}
    <li>{{this}}</li>
  {{/each}}
</div>
<hr />
<div>
  <b>Community:</b>
  {{#each community}}
    <ul>
      <li>{{name}}</li>
      <li>{{type}}</li>
    </ul>
  {{/each}}
</div>