<main class='p-5'>
  <div class='row'>
    <div class='col-12'>
     
     <div>
      {{#with navigation}}
        <div class='card pt-3 pb-2 px-2 mb-4'>
           <nav class='row'>
            <div class='col-6'>
               <h1 class='m-3'>{{Logo}}</h1>
            </div>

          <div class='col-6 text-end'>
            {{#each links}}
              <a
                 href='{{href}}'
                class='btn btn-link m-3'
                  >{{text}}</a>
        {{/each}}
        <a
          href='#'
          class='btn btn-link disabled'
        >Disabled</a>

      </div>
    </nav>
  </div>
{{/with}}
  </div>

     <section>
      <div class='text-center py-5'>
        {{#with newsBlock}}
          <h2>{{title}}</h2>
          <div class='row gx-4 gy-3'>
            {{#each cards}}
              <section class='col-3'>
                <div class='card text-bg-dark'>
                  <div class='card-header'>{{title}}
                    {{#if isTop includeZero=true}}<button
                        class='badge rounded-pill text-bg-success'
                      >{{isTop}}</button>
                    {{/if}}

                    {{#if isNew includeZero=true}}
                      <button
                        class='badge rounded-pill text-bg-danger'
                      >{{isNew}}</button>
                    {{/if}}
                  </div>
                  <div class='card-body'>
                    <p>{{description}}</p>
                  </div>
                </div>
              </section>
            {{/each}}
          </div>
        {{/with}}
      </div>
      </section>

      <hr class="m-5">

         <section>
          {{#with goodsBlock}}
          <nav class="nav nav-tabs mb-5">
            <ul class="d-flex list-unstyled">
           {{#each tabs}}
          <li>
            <div class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">
            {{text}}       
            </div>
            </li>          
           {{/each}}
           </ul>
          </nav>
          {{/with}}
         </section>
      
          <section>
            <div class='row gx-3 gx-4'>
              {{#each cards}}             
                  <div class='card'>
                    <img
                      class='card-img-top'
                      src='{{image}}'>
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                  </div>              
              {{/each}}
            </div>
            </section>

      <hr class="m-5">

      <section>
          
          {{#with subscribe}}
         
            <div class="row">
             
          <div class='card alert text-bg-dark text-light'> 
           <div class="row">
            <div class="col-6">
            <h2 class='m-3 mb-3'>{{header}}</h2>
            <p class="m-3 ">{{description}}</p>
           </div>
            <div class="text-end col-6">
              {{#each buttons}}
                <a
                  class="btn btn-primary m-3 my-5" href="{{link}}"
                >{{text}}</a>
              {{/each}}
              
              </div>
            </div>
            </div>
            </div>
          {{/with}}
       
      </section>

      <hr class="m-3">

      <section>
      {{#with service}}
         <div class='alert bg-success text-light text-center'>          
            <h2 class="mb-3">{{title}}</h2>
            <p class="mb-0">{{description}}</p>
            <div class="nav-item">
            {{#each buttons}}
             <a class="btn btn-primary me-1 mt-4" href="{{link}}">{{text}}</a>
            {{/each}}           
            </div>       
        </div> 
       {{/with}}
      </section>

       <hr class="m-5">
           </div>
  </div>
</main>
       <footer>
        
        <div class="card-footer row col-10 m-3">
        {{#each footer}}
          <div class="col-2 flex-column">
            <ul class="nav">
               {{#each this}}
               <li>       
                  <a class="nav-link" {{#if @last}}disabled{{/if}} href="{{this.link}}">{{this.text}}</a>
               </li>
               {{/each}}
            </ul>
          </div>
        {{/each}}
        </div>
       </footer>

