<main class='m-5 gy-2'>

  <div>
    <h2>{{header}}</h2>
    <div class="row col-12">
      
      <div class='col-8 ms-0 p-0 '>
      
        {{#with contacts_data}}
          <div>

          <div class="m-3 gy-2">
            <h3 class="g-2">{{title}}</h3>
          </div>

          <div class="list-group-item">
            {{#each buttons}}
              <button
                {{#if isPrimary}}class="btn btn-primary"{{/if}}
                {{#if isOutline }} class="btn btn-outline-primary" {{/if}}>
                {{text}}
                </button>
            {{/each}}
          </div>
             
              {{#with form}}  
                <div class="row col-12 m-2">

               {{#with input}}                         
                {{#with surname}}   
                  {{> form}}
                {{/with}}
                
                {{#with name}}
                  {{> form}}
                {{/with}}          
              
                {{#with phone}}
                  {{> form}}
                {{/with}}
            
                 {{#with email}}
                   {{> form}}
                 {{/with}}
              {{/with}}
  <div class="gx-1 py-2 pe-2">
  <hr>
  </div>
                  
               {{#each switch}}
                <div class="me-0 my-0 py-0 gx-0 gy-0">
                  <div class="form-check form-switch">
                    <label class="form-check-label">{{text}}</label>
                    <input  {{#if isActive includeZero=true}}  name="text" type="checkbox" {{/if}}class="form-check-input">
                  </div>
                  </div>
               {{/each}}
               

              </div>
            {{/with}}
              
              <div class="col-12">
               <hr class="col-12">
             </div>

          </div>
        {{/with}}
       
  

        </div>

    <div class="col-4">
       <div class="card g-3">
        
        {{#each action_block}}
          <div>
          
            <div class="nav nav-item p-2 ">
        {{#with this}}
        

          <button {{#if isPrimary}} class="btn btn-primary text-light"{{/if}}
          {{#if isDanger}} class="btn btn-danger text-light"{{/if}}
          {{#if isInfo}} class="btn btn-info text-light"{{/if}}
          >{{text}}</button>

         
          {{/with}}
          </div>

          </div>
        {{/each}}
       </div>
       
    

      <div class="g-5 g-3">
       <div class="card">
        {{#with total}}
         <div class="table table-striped">
          
            <div class="list-group">
             <div class="list-group-item">
             <h2>{{title}}</h2>
          
               {{#each item_list}}
                  <div>
                    <h6 class="m-0">{{name}}: {{price}}</h6>
                  </div>
               {{/each}}
             </div>

         <div class="list-group-item">
          {{#each additional_info}}
          <div>
            <h6 class="m-0">{{text}}: {{value}}</h6>
          </div>
          {{/each}}
          </div>

        <div class="list-group-item">
          {{#with total_price}}
             <div>
                <h6>{{text}}: {{value}}</h6>
             </div>
          {{/with}}
        </div>

         

         
           
            {{#each button}}
              
                <button {{#if isPrimary}} class="btn btn-primary text-light m-2"{{/if}}
                {{#if isOutline}} class="btn btn-outline-primary me-5 ms-2" {{/if}}>
                {{text}}
                </button>
            {{/each}}
            
         </div>

         </div>
        {{/with}}
        </div>
      </div>     
      
    </div>   

     <div class="row col-8">
      
        {{#with delivery}}
        <h2>{{title}}</h2>

        
        <div class="card">
         <div class="row col-12 p-3 pe-0 ps-0 gy-2 me-3 ">
             
                 
            {{#each select}}
            <div class="col-6 ">
               
              {{> placeholder}}
            
             </div>
            {{/each}}       
                 
             </div>
        </div>

             {{#each delivery_type}}
             <div class="row">
              <div class="col-6">
           <div>
              <div class="form-check">
                  
                  <label class="form-check-label">{{type}}</label>
                  <input name="type" type="radio" class="form-check-input">

              </div>
              </div>

                </div>

                <div class="col-6">
                
                  <label class="form-check-label">{{value}}</label>
                 </div>
            

              </div>
            {{/each}}

<div class="gx-1 py-2 pe-2">
  <hr>
</div>

              <div class="form-check">
             <h4>Оплата</h4>
            {{#each payment}}
              
                <div>
                <label class="form-check-label">{{type}}</label>
                 <input name="pay" type="radio" class="form-check-input">
                  <p><small>{{description}}</small></p>
               </div>
            {{/each}}
             </div>

   <div class="gx-1 py-2 pe-2">
    <hr class="col-12 gy-5 my-5">
   </div>

         <div class="row col-12">
          {{#with contact}}
            <h5>{{title}}</h5>
            <div class="row col-12">
              {{#with surname}}
                {{> form}}
              {{/with}}

              {{#with name}}
              {{> form}}
              {{/with}}

              {{#with phone}}
              {{> form}}
              {{/with}}

              {{#with email}}
              {{> form}}
              {{/with}}
            </div>
          {{/with}}
         </div>
 <div class="col-8">
  <hr>
 </div>

             <div>
                <div>
                  {{#with coment}}
                    <label class='form-label'>{{label}}</label>
                    <input placeholder='{{placeholder}}'class='form-control'/>
                 {{/with}}
                </div>
             </div>

        {{/with}}
     </div>
      
       <div class="col-8">
        <hr class="col-12 gy-5 my-5">
       </div>

       <div class="col-8">
        {{#with coupon}}
        <h5>{{title}}</h5>
        <div>
          {{#with select}}

          <div>
            {{#with availabel_coupon}}
            {{> placeholder}}           
            {{/with}}
          </div>
 
          <div>
            {{#with friend_coupon}}
            {{> placeholder}}
            {{/with}}
          </div>

          {{/with}}
        </div>

        <div class="col-12">
         {{#with add}}
          <div>
            {{#with friend}}
              {{> placeholder}}
            {{/with}}

            {{#with colleague}}
            {{> placeholder}}
            {{/with}}
          </div>
         {{/with}}
        </div>

        {{/with}}
       </div>
  
   <div class="col-8 mp-0">
    <hr class="col-12 gy-5 my-5">
   </div>

       <div>
        {{#with quiz}}
          <h4>{{title}}</h4>
          <div>
            {{#with preference}}
              <a>{{title}}</a>
             
                {{#each options}}
                      <div class="form-check">
                  
                  <label class="form-check-label">{{this}}</label>
                  <input name="option" type="radio" class="form-check-input">

                      </div>
                {{/each}}
              

            {{/with}}
          </div>

          <div class="col-8">
            {{#with your_expirience}}
            <h4>{{label}}</h4>
            <input class="form-control">
            {{/with}}
          </div>
          
          <div class="col-8 g-5">
            {{#with purchase_frequency}}
              <div>
                {{> placeholder}}
              </div>
            {{/with}}
          </div>

          <div>
            {{#with factors}}
            <a>{{title}}</a>
            <div>
              {{#each options}}
                   <div class="form-check">
                <label class="form-check-label">{{this}}</label>
                 <input name="food" type="checkbox" class="form-check-input">
              </div>
              {{/each}}
            </div>
            {{/with}}
          </div>

        {{/with}}
       </div>

<div class="mt-3">
  <hr>
</div>

    </div>

    </div>
  </div>
</main>