<main class='p-5'>
  <div class='row'>
    <div class='col-12'>

      <div class='card'>
      <section>
        {{#with navigation}}
          <div class='nav nav-tabs py-8'>
            <h1 class='ms-3'>{{Logo}}</h1>

            {{#each links}}
                       
              <div class='nav-item ms-0'>
                <a
                  href='{{href}}'
                  target='_blank'
                  class='nav-link m-2'
                >{{text}}</a>               
              </div>   
                   
            {{/each}}
             <p class="m-3 ">Disabled</p>
            </div>
      
        {{/with}}
        </section>
      </div>


     <section>
      <div class='text-center py-5'>
        {{#with newsBlock}}
          <h2>{{title}}</h2>
          <div class='row gx-4 gy-3'>
            {{#each cards}}
              <section class='col-3'>
                <div class='card text-bg-dark'>
                  <div class='card-header'>{{title}}
                    {{#if isTop includeZero=true}}<button
                        class='btn btn-success'
                      >{{isTop}}</button>
                    {{/if}}

                    {{#if isNew includeZero=true}}
                      <button
                        class='btn btn-danger'
                      >{{isNew}}</button>
                    {{/if}}
                  </div>
                  <div class='card-body'>
                    <p>{{description}}</p>
                  </div>
                </div>
              </section>
            {{/each}}
          </div>
        {{/with}}
      </div>
      </section>

      <hr class="m-5">

         <section>
          {{#with goodsBlock}}
          <nav class="nav nav-tabs mb-5">
            <ul class="d-flex list-unstyled">
           {{#each tabs}}
          <li>
            <div class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">
            {{text}}       
            </div>
            </li>          
           {{/each}}
           </ul>
          </nav>
          {{/with}}
         </section>
      
          <section>
            <div class='row gx-3 gx-4'>
              {{#each cards}}             
                  <div class='card'>
                    <img
                      class='card-img-top'
                      src='{{image}}'>
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                  </div>              
              {{/each}}
            </div>
            </section>

      <hr class="m-5">

      <section>
          
          {{#with subscribe}}
          <div class='alert bg-dark text-light'> 
         
            <h2 class='m-3 '>{{header}}</h2>
            <p class="m-3 ">{{description}}</p>
            <div class="text-end">
              {{#each buttons}}
                <a
                  class="btn btn-primary me-2 mb-5 px-5" href="{{link}}"
                >{{text}}</a>
              {{/each}}
            </div>
            </div>
          {{/with}}
        </div>
      </section>

      <hr class="m-3">

      <section>
      {{#with service}}
         <div class='alert bg-success text-light text-center'>          
            <h2 class="mb-3">{{title}}</h2>
            <p class="mb-0">{{description}}</p>
            <div class="nav-item">
            {{#each buttons}}
             <a class="btn btn-primary me-1 mt-4" href="{{link}}">{{text}}</a>
            {{/each}}           
            </div>       
        </div> 
       {{/with}}
      </section>

       <hr class="m-5">
       <section>
        <div class="card-footer row col-10">
        {{#each footer}}
          <div class="col-2 flex-column">
            <ul class="nav">
               {{#each this}}
               <li>
                 <a href="{{link}}">{{text}}</a>
               </li>
               {{/each}}
            </ul>
          </div>
        {{/each}}
        </div>
       </section>

    </div>
  </div>
</main>