<main>
  <div>
    {{#with navigation}}
      <div class='card-header'>
        {{#each links}}
          <a href='{{url}}'>{{text}}</a>
        {{/each}}
        {{#with button}}
          <button class='btn btn-primary'>{{text}}</button>
        {{/with}}
      </div>
    {{/with}}
    <hr />
    <br />
    <div>
      {{#with header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        {{#with button}}
          <button
            class='btn  btn-primary' href="link"
          >{{text}}</button>
        {{/with}}
      {{/with}}
    </div>
    <br />
    <hr />
    <br />
  <div>
    {{#with city}}
      <h2>{{title}}</h2>
      <div class='row g-1'>
      {{#each cards}}
        <section class='col-6'>
            <div class='card'>

              {{#with picture}}
                <img class='card-img-top' src='{{src}}' alt='{{alt}}'>
              {{/with}}
              <div class="card-body">
                <h4>{{title}}</h4>
                <p>{{description}}</p>
                {{#with button}}
                <button class="btn btn-primary " href="href">{{text}}</button>
                {{/with}}
              </div>
        </section>
     {{/each}}
      </div>
  </div>
    {{/with}}
    </div>
    <br>
    <hr>
    <br>
    <div>
        {{#with winner}}
        <h2>{{title}}</h2>
        <br>
           <div>
            {{#with table}}
             <table class="table">
              <thead>
              {{#each head}} 
                     <th>{{this}}</th>
                {{/each}}  
                </thead>
                <tbody>
                  {{#each user}}
                  <tr>
                    <th>{{place}}</th>
                    <th>{{name}}</th>
                    <th>{{surname}}</th>
                    <th>{{nickname}}</th>
                  </tr>
                  {{/each}}
                </tbody>
                </table>
            {{/with}}
           </div>
        {{/with}}
    </div>
    <br>
    <hr>
    <br>
    <div>
      {{#with gallery}}
      <h2>{{title}}</h2>
          <div class="row gx-3 gy-2">           
            {{#each cards}}
            <section class="col-4">
              <div class="card">
                <div class="card-header">{{name}}</div>
                  {{#each items}}
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">{{this}}</li>
                     </ul>
                   {{/each}}
                   </div>
            </section>
            {{/each}}
        </div>
      {{/with}}
    </div>
    <br>
    <hr>
      <br>
      <div>
        {{#with relaxion}}
         <div class="display-3">{{title}}</div>
         <div class="row gx-3 gy-4">
          {{#each cards}}

          <section class="col-5">
          <div class="card text-bg-secondary">
         <div class="card-header">
         
            <th>{{header}}</th></div>
              <div class="card-body card-title">
            <th>{{title}}</th></div>
            <p>{{description}}</p>
            </div>
            
            </section>
          
            {{/each}}
         </div>
        {{/with}}
      </div>
      <br>
      <hr>
        <br>
         <div>
          {{#with rest}}
           <div class="row gx-4 gy-2">
            {{#each cards}}
            <section class="col-6">
              <div class="card">
                <div class="card-header text-center">{{header}}</div>
                 <div class="card-body text-center">
                   <h5 class="card-title">{{title}}</h5>
                   <p>{{description}}</p>
                   <button class="btn btn-primary">{{button}}</button>
                 </div>
                 <div class="card-footer text-center">
                   {{footer}}
                 </div>
              </div>
            </section>
              
            {{/each}}
           </div>
          {{/with}}
         </div>
         <br>
         <hr>
         <br>
         <div>
          {{#with proposition}}
            <div class="display-2">{{title}}</div>
            <div class="row gx-3 gy-4">
              {{#each card}}
              <section class="col-4">
               <div class="card text-light text-bg-warning">
                <div class="card-header">
                  <th>{{header}}</th></div>
                <div class="card-body card-title">
                  <h5>{{title}}</h5>
                <p>{{description}}</p>
                </div>
               </div>
               </section>
              {{/each}}
            </div>
          {{/with}}
         </div>
         <br>
         <hr>
         <br>
         <div>
          {{#with footer}}
            <h5>{{title}}</h5>
             <div class="col-9">
               <div class="row">
                 <div class="col-4"> 
                  <div class="row gy-2">
                      {{#each navigation}}
                       <div>
                        <a href="{{href}}" target="_blank" class="btn btn-link btn-sm">{{text}}</a><br>
                       </div>             
                      {{/each}}
                   </div>          
                 </div>

                <div class="col-4">
                  <div class="row gy-2">
                     {{#each socialMedia}}
                     <div>
                       <a href="{{link}}" target="_blank" class="btn btn-outline-dark btn-sm">{{name}}</a><br>
                     </div>
                     {{/each}}
                  </div>
                </div>
              
                <div class="col-4">
                    <div class="row gy-2">
                     {{#each socialMedia}}
                     <div>
                       <a href="{{link}}" target="_blank" class="btn btn-outline-info btn-sm">{{name}}</a><br>
                     </div>
                     {{/each}}
                  </div>
                 </div>
               </div>
               </div>
          {{/with}}
         </div>
  </div>
</main>