<div class='row'>
    <div class="col-12">
      <hr class='mt-3'>
    </div>
      <div class='col-4 mt-4'>
        <span><small>{{number}}</small></span>
        <h6 class='my-2'>{{status}}</h6>
      </div>
      <div class='col-2 mt-4'>
        {{amount.title}}
        <h6>{{amount.value}}</h6>
      </div>
      <div class='col-4'>
        <div class='row'>
          {{#each images}}
            <div class='col-4 mt-2'>
              <img class='card-img-top' src='{{this}}' />
            </div>
          {{/each}}
        </div>
      </div>
      <div class='col-2 mt-4'>
        {{#with button}}
          {{#if isPrimary}}
            <a
              href='{{link}}'
              class='btn btn-primary'
            >{{text}}</a>
          {{/if}}
        {{/with}}
      </div>
    </hr>
 
</div>